@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;400&family=Roboto:wght@300;400&display=swap');
/* Colours */

.ui-menu-color-home {
    background-color: #e67e22;
}

.ui-menu-color-resume {
    background-color: #9b59b6;
}

.ui-menu-color-contact {
    background-color: #3498db;
}

.ui-menu-color-download {
    background-color: #525252;
}


.bg-color-name-title {
    background-color: #676767;
}

/* Headings */

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url(../images/garfield-profile-pic.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #fff
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menu-container {
    font-size: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}